<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nagexym.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <nagexym.Properties.Settings>
            <setting name="FromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="NodeUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Network" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelColCheck" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ExcelColName" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExcelColTwitter" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExcelColNamespace" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExcelColAddress" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ExcelColXym" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ExcelColMessage" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DefaultExcelColCheck" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultExcelColName" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultExcelColTwitter" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultExcelColNamespace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultExcelColAddress" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultExcelColXym" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DefaultExcelColMessage" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MaxFee" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="InnerTxCount" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="IsAggrigate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultMaxFee" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="DefaultInnerTxCount" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="DefaultIsAggrigate" serializeAs="String">
                <value>0</value>
            </setting>
        </nagexym.Properties.Settings>
    </userSettings>
</configuration>